# Stock Price Prediction using SVR

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Laoding the dataset

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data

              x           y
0    168.181818  160.840244
1    187.878788  159.413657
2    207.575758  157.136809
3    227.272727  159.357847
4    246.969697  157.542862
..          ...         ...
89  1921.212121  172.285091
90  1940.909091  176.001331
91  1960.606061  176.128171
92  1980.303030  175.813257
93  2000.000000  175.530826

[94 rows x 2 columns]

### Summarize the dataset

In [4]:
data.shape

(94, 2)

In [5]:
data.columns

Index(['x', 'y'], dtype='object')

In [6]:
data.head(10)

            x           y
0  168.181818  160.840244
1  187.878788  159.413657
2  207.575758  157.136809
3  227.272727  159.357847
4  246.969697  157.542862
5  266.666667  157.735207
6  286.363636  159.347561
7  306.060606  155.234046
8  325.757576  155.807740
9  345.454545  158.329970

In [7]:
data.describe()

                 x           y
count    94.000000   94.000000
mean   1084.090909  166.576111
std     537.321877    5.861601
min     168.181818  155.234046
25%     626.136364  161.236377
50%    1084.090909  166.508064
75%    1542.045455  171.784967
max    2000.000000  176.361532

### Dividing the dataset into X,Y

In [8]:
X = data.iloc[:,[0]]
X

              x
0    168.181818
1    187.878788
2    207.575758
3    227.272727
4    246.969697
..          ...
89  1921.212121
90  1940.909091
91  1960.606061
92  1980.303030
93  2000.000000

[94 rows x 1 columns]

In [9]:
Y = data.iloc[:,[1]]
Y

             y
0   160.840244
1   159.413657
2   157.136809
3   159.357847
4   157.542862
..         ...
89  172.285091
90  176.001331
91  176.128171
92  175.813257
93  175.530826

[94 rows x 1 columns]

### Spliting dataset into train and test

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.25,random_state=0)

In [12]:
x_train

              x
42   995.454545
48  1113.636364
74  1625.757576
82  1783.333333
77  1684.848485
..          ...
90  1940.909091
67  1487.878788
64  1428.787879
47  1093.939394
44  1034.848485

[70 rows x 1 columns]

In [13]:
x_test

              x
2    207.575758
30   759.090909
56  1271.212121
16   483.333333
13   424.242424
61  1369.696970
62  1389.393939
79  1724.242424
33   818.181818
78  1704.545455
76  1665.151515
7    306.060606
51  1172.727273
89  1921.212121
93  2000.000000
60  1350.000000
8    325.757576
22   601.515152
73  1606.060606
45  1054.545455
26   680.303030
43  1015.151515
24   640.909091
6    286.363636

In [14]:
y_train

             y
42  166.641782
48  169.198363
74  171.818232
82  172.773813
77  171.811944
..         ...
90  176.001331
67  174.008075
64  171.010670
47  168.162747
44  166.996653

[70 rows x 1 columns]

In [15]:
y_test

             y
2   157.136809
30  164.008636
56  166.499451
16  160.968390
13  157.417817
61  171.704035
62  170.617211
79  172.238910
33  164.575541
78  171.428467
76  175.607303
7   155.234046
51  167.108848
89  172.285091
93  175.530826
60  169.355980
8   155.807740
22  160.813874
73  168.085468
45  165.775290
26  162.776036
43  162.625435
24  161.205678
6   159.347561

### Building the model

In [16]:
from sklearn.svm import SVR

In [17]:
model = SVR()

In [18]:
model.fit(x_train,y_train)

SVR()

### Prediting all values for x_test

In [19]:
y_pred = model.predict(x_test)
y_pred

array([160.48549408, 163.11483788, 169.15314255, 160.43047105,
       160.17264903, 170.09324513, 170.27880123, 173.14886417,
       163.87154341, 173.02218503, 172.74085994, 160.09985736,
       168.16384611, 173.69061307, 173.46530285, 169.90718696,
       160.07026006, 161.33488414, 172.26404918, 166.85757401,
       162.16525208, 166.38841501, 161.73165261, 160.14583833])

In [20]:
x= float(input("Enter the x parameter : "))
y = model.predict([[x]])
print("y parameter is : ",y)

Enter the x parameter :  168.181818

y parameter is :  [160.74044087]

In [21]:
#print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

### Evaluation

In [22]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [23]:
mae = mean_absolute_error(y_pred,y_test)
print("MAE : ",mae)

MAE :  1.8290713194299155

In [24]:
mse = mean_squared_error(y_pred,y_test)
print("MSE : ",mse)

MSE :  5.232356713618182

In [25]:
r2 = r2_score(y_pred,y_test)
print("R2_score : ",r2)

R2_score :  0.8005963380975609